<!DOCTYPE html>
<html>
<head th:replace="header.html :: header">
<meta charset="utf-8">
<title>Noticias</title>
</head>
<body>
	<br>
	<center>
		<a style="color: #fff;" class="btn btn-primary" href="#" th:href="@{'/noticias/addNoticias'}">Añadir</a>
		<br><br>
		<span th:each="noticia: ${noticias}">
			<div class="row" style=" display: flex; justify-content: center; align-items: center;">
			 <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title"><span th:text=${noticia.titulo}>Titulo</span></h5>
			        <td th:if="!${noticia.getFoto().isEmpty()}" ><img  th:src="@{/images/} + ${noticia.foto}"/></td>	
			        <p class="card-text"><span th:text=${noticia.resumen}>Resumen </span></p>
			        <a href="#" th:href="@{'/proyecto/verNoticia/' + ${noticia.id}}" class="btn btn-primary">Ver</a>
			        <a href="#" th:href="@{'/noticias/editNoticias/' + ${noticia.id}}" class="btn btn-info">Editar</a>
			        <a href="#" th:href="@{'/noticias/removeNoticias/' + ${noticia.id}}" class="btn btn-danger">Eliminar</a>
			 	  </div>
				</div>
		  	</div>
		  	</div> 	
	  		<br>
  		</span>
  	</center>
</body>
<span th:replace="header.html :: footer"></span>
</html>