<!DOCTYPE html>
<html>
<head th:replace="header.html :: header">
<meta charset="utf-8">
<title>Juegos</title>
</head>
<body>
	<center >
		<br><br><br><br>
		<div style=" width:500px; padding:3px; float:center;">
			<div  style=" width:245px;  float:left;">
				<h2 style="color:#fff;"align="center" th:text="${juego.titulo}"></h2>
				<img style="width:260px"  th:src="@{/images/} + ${juego.caratula}"/>
				<span class="badge badge-secondary">Stock: <span  style=" font-size:14px;" th:text="${juego.stock}"></span></span>
			</div>
			<div style="width:245px;  float:right;">
			<br><br>
				<div class="row" style=" display: flex;  justify-content: center; align-items: center;">
					 <div class="col-sm-4">
					    <div class="card" style="width:500px;">
					      <div class="card-body">
					        
							<h6 align="left">PLATAFORMA:
								<span th:each="plataforma: ${juego.plataformas}">
									<span  style=" font-size:14px; font-weight:normal;" th:text="${plataforma}"></span>
								</span>
							</h6>
							
							
							<h6 align="left">CATEGORIA:
								<span th:each="categoria: ${juego.categorias}">
									<span  style=" font-size:14px; font-weight:normal;" th:text="${categoria}"></span>
								</span>
							</h6>
							
							
							<h6 align="left">LANZAMIENTO:
								<span  style=" font-size:14px; font-weight:normal;" th:text="${juego.lanzamiento}"></span>
							</h6>
							
							<h6 align="left">PEGI:
								<span  style=" font-size:14px; font-weight:normal;" th:text="${juego.pegi}"></span>
							</h6>
							
							<h6 align="left">DESCRIPCIÓN:
								<span  style=" font-size:14px; font-weight:normal;" th:text="${juego.descripcion}"></span>
							</h6>						
							
							<h6 style="color:#ffbe00" align="left">PRECIO:
								<span th:if="${juego.tipo}==0">
									<span  style=" font-size:25px;" font-weight:normal; th:text="${juego.precio}"></span>€
								</span>
								<span th:if="${juego.tipo}==1">
									<span  style=" font-size:25px;" font-weight:normal; th:text="${juego.precio}"></span>€ (3 días)
								</span>
							</h6>
							<span th:if="${juego.tipo}==0"><a class="btn btn-primary" th:href="@{/ventas/comprar/} + ${juego.id}" style="color:#fff">Comprar</a></span>
							<span th:if="${juego.tipo}==1"><a class="btn btn-primary" th:href="@{/alquiler/alquiler/} + ${juego.id}" style="color:#fff">Alquilar</a></span>
					 	  </div>
						</div>
				  	</div>
				  </div>
			</div>
		</div>
	</center>
</body>
<span th:replace="header.html :: footer"></span>
</html>